<h1><%= "ツイート検索" %></h1>

<%= form_tag({action: :search_ajax}, method: :post, remote: true, id: :search_form) do %>
    <%= text_field_tag :text %>
    <%= submit_tag '検索する' %>
<% end %>

<div id="search_table">
</div>