<h1>Streamテスト</h1>

<%= form_tag({action: :stream_ajax}, method: :post, remote: true, id: :stream_form) do %>
  <%= text_field_tag :text %>
  <%= submit_tag 'START' %>
<% end %>
<div id="stream_table">
</div>
